/* html, body {
    height: 100%;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
}

.cta-button:hover {
    background: #0056b3;
}

/* Services Section */
.services {
    margin: auto;
    margin-top: 20px;
    padding: 20px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}


.services h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.services p {
    /* margin-bottom: 40px; */
    font-size: 1.1em;
}

.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}



.service-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    max-width: 100%;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.service-card h3 {
    margin: 15px 0 10px;
}

.service-card p {
    margin-bottom: 15px;
}

/* Testimonials Section */
/* temporary hidden page */

.testimonials {
    display: none;
}

.testimonials {
    background: #e9ecef;
    padding: 20px 20px;
    text-align: center;
    margin-bottom: 60px;
}

.testimonials h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial {
    margin: 20px 0;
    font-style: italic;
}

.testimonial span {
    display: block;
    font-weight: bold;
}

/* Call to Action Section */
.cta {
    text-align: center;
}

.cta h2 {
    margin-bottom: 20px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 1.1em;
}