<link rel="stylesheet" href="/components/header_style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="../components/light_dark_mode.js"></script>
<header>
    <div class="name">
        <h1>Wojciech Sołyga</h1>
    </div>
    <!-- Rounded switch -->
    <div class="light-dark-mode">
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="checkbox-label">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <span class="ball"></span>
    </label>
    </div>
        <nav>
            <a href="/home_page/home.html">Home</a>
            <a href="/about_page/about.html">About</a>
            <a href="/projects_page/projects.html">Projects</a>
            <a href="/services_page/services.html">Services</a>
            <!-- <a href="/contact_page/contact.html">Contact</a> -->
        </nav>
</header>
