
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.container h1 {
    margin-top: 0px;
    color: #3498db;
    text-align: center;
}

.profile {
    top: 0;
}

.profile .profile-img {
    top: 150px;
    width: 150px; /*Adjust as needed*/
    height: 150px;
    border-radius: 75px; /*Circular image*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content {
    top: 0px;
    display: flex;
    width: fit-content;
}

.profile h2 {
    top: 50px;
    color: #333;
}

.content .message {
    display: block;
    top: 1;
}

.socials .social-link {
    top: 200px;
    width: 35px;
    height: 35px;
    border-radius: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
    background: transparent;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.front {
    width: 150px;
    display: grid;
    justify-items: center;
    margin-right: 20px;
}

.socials .socials-bar {
    display: flex;
    gap: 5px;
    padding: 10px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.socials {
    display: flex;
    margin-top: 15px;
    gap: 25px;
    padding: 15px;
    border-radius: 30px;
    width: fit-content;
}

.mail { color: #0a66c2; }
.linkedin { color: #0a66c2; }
.github { color: #333333; }

/* Animation effects */
.social-link:hover {
    background: transparent;
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}