
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.container h1 {
    margin-top: 0px;
    color: #3498db;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-img {
    width: 150px; /* Adjust as needed */
    height: auto;
    border-radius: 75px; /* Circular image */
    margin-right: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.description {
    flex: 1;
}

h2 {
    margin: 0;
    color: #333;
}

.p {
    color: #666;
    line-height: 1.6;
}