body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

.container {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #3498db;
}

.container p {
    color: #666;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.projects-group p {
    color:#333;
    font-weight:bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.projects-group {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    /* padding: 10px; */
    border: 1px solid #333;
    border-color: #333;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.projects-group {
    /* display: inline-block; Allows for padding and margin */
    padding: 20px; /* Space inside the box */
    background-color: #a7d2ff6d; /* Background color */
    color: white; /* Text color */
    /* text-align: center; Center the text */
    text-decoration: none; /* Remove underline from link */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.projects-group:hover {
    background-color: #8fb0d378; /* Darker background on hover */
}